.projects .skills-title{
    font-size: 25px;
    border: .1px solid  #080f1d;;
    display: inline-block;
    padding: 2px 10px;
    color: #6B7280;
    border-radius: 2px;
    margin-top: 5px;
    color: white;
}
.projects{
    font-family: font-ms;
    margin-top: 60px;
}
.projects .row{
    margin-top: 10px;
    /* margin-bottom: 50px; */
}
.row .sub-1{
    background-color: #080f1d;
    padding: 10px;

    margin-top: 20px;
  
}
.sub-11{
padding: 10px;


}
.p-title{
    font-size: 25px;
    color: #6B7280;
    display: block;
    color: #CBD5E1;
}
.p-sub-title{
    font: 22px;
    color: #6B7280;
    color: #CBD5E1;


   display: block;
}
.sub-11 ul{
    transform: translateX(-9%);
}
.sub-11 ul li {
    list-style-type:none ;
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #6B7280;
    margin-left: 5px ;
    margin-top: 5px;
    color: #6B7280;
    color: #CBD5E1;
}
.sub-11 img{
    border: unset!important;
    background-color: unset!important;
    border-radius: 5px;
    height: 260px;
    border-radius: 25px;
    display: block;
}
.sub-11 .li-page{
    background-color: #1E293B;
}
.btn-code{
    padding: 5px;
    

}
.btn-live{
    padding: 5px;
   
}
.btn-code .projects-btn{
    background-color: #111827;
    color: #A55858 ;
    height: 40px;
    
}
.btn-live .projects-btn{
    background-color: #111827;
    height: 40px;
    color: #A55858 ;
  

}
.btn-code .projects-btn span{
    display: block;
    padding-top: 5px;
}
.btn-live .projects-btn span{
    display: block;
   padding-top: 5px;

}
.sub-11 a:link{
text-decoration: none;
}
/* .p-btn{
    padding: 10px;
} */

@media only screen and (max-width: 767px) {
    .sub-11 ul{
        transform: translateX(-12%);
    }
    .projects{
        margin-top: 0;
    }
}